h1 {
text-align: center;
}
/* body {
    justify-items: center;
} */
button {
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 50px;
    background-color: black;
    border: none;
    border-radius: 10px 10px;
    color: white;
}