h1 {
text-align: center;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button {
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 50px;
    background-color: black;
    border: none;
    border-radius: 10px 10px;
    color: white;
}
div#container {
    width: 90%;
    align-items: center;
}
div div {
    width: 30%;
    aspect-ratio: 1;
    max-width: 150px;
    margin: auto;
    display: inline-block;
}